{% extends 'base.html' %}

{% block title %} {{object.slug}}
{% endblock title %}

{% block content %}

<div class="container-fluid py-5 ">
    <div class="row">
        <div class="col-sm-8">
            <div class="card card-art code-box">
                <div class="card-body">
                  <h4>{{object.question}}</h4>
                  <hr>
                  <br>
                  {{object.answer | safe}}
                </div>
                    {%if object.code%}
                        
                            <code class="code-style">{{object.code | safe}} </code>
                        
                    {%endif%}
              </div>
        </div>

        <div class="col-sm-4">
            <span style="padding: 15px;">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"  style="text-align: center;">Tags</h5>
                 
                    <a href="#" class="card-link" > test </a>
                  
                  </div>
                </div>
              </span>
              <span style="padding: 15px;">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Related Posts</h5>
               
                  <a href="#" class="card-link" style="color: green;"><strong> Post xyz </strong></a>
                
                </div>
              </div>
            </span>
        </div>
      </div>
   
  </div>


{% endblock content %}