{% extends 'base.html' %}
{% load customtags %}

{% block title %} Home {% endblock title %}

{% block content %}

<div style="position: absolute;
      top: 8em;
      right: 2em;z-index: 999999999 !important;">
{% include 'message.html'%}

</div>
        
<div class="container py-5">
    <div class="row">
    {% if not object_list %}
        <div class="text-center">
            <b><p>No Results found!</p></b>
        </div>
    {% endif %}


    {% for e in object_list%}
    <!-- Article Card begins-->
        <div class="col-12 col-md-8" style="padding-bottom:50px">
            <div class="card card-1">
                <div class="card-header">
                    <p class="ellipseReadMore2"><a class="card-link" href="{{e.slug}}" style="color:black">{{e.question }}</a> </p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p class="ellipseReadMore">{{e.answer |striptags|spaces:"&nbsp;" }} </p>
                    <p><a href="{{e.slug}} " style="color:#FFA500">Read More -</a></p>
                
                    <footer class="blockquote-footer"><strong>{%if e.name%}{{e.name}}{%else%} Admin{%endif%} </strong>{%if e.name%}({{e.college_name}}){%endif%} &nbsp;
                    {%if e.facebook %}<a href="{{e.facebook}}" style="color:black;"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>{%endif%} &nbsp;
                    {%if e.linkedin %}<a href="{{e.linkedin}}" style="color:black;"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>{%endif%} &nbsp;
                    {%if e.instagram %}<a href="{{e.instagram}}" style="color:black;"> <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>{%endif%}&nbsp;
                    {%if e.twitter %}<a href="{{e.twitter}}" style="color:black;"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> </a>{%endif%}
                    </footer>
                    
                    </blockquote>
                </div>
            </div>
            
        </div>
        
    <!-- Article Card ends-->
    

{% endfor %}

    <!-- Recent posts -->

    <div class="col-md-4 col-xs-8">
        <div class="card">
            <div class="card-body">
                <h2 style="text-align:center;padding-bottom:20px;">Recent Posts</h2>

        {% for e in recent %}
                <span class="posted-on">{{ e.published_on |date:"d M Y" }}</span>
                <h5><a href="/{{ e.slug }}/" class="ellipseReadMore " style="color:orange;">{{ e.question }}</a></h5>
        
        {% endfor %}

            </div>
        </div>
    </div>
    <!-- Recent posts closed-->
    
    </div>
</div>


  
    <style>
        .card-1 {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }

            .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        .side-form{
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    </style>
    {% include 'fab.html' %}

{%endblock%}