{% extends 'base.html' %}

{% block title %} {{object.slug}}
{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8" style="padding-bottom:50px">
            
            <h3>{{object.question | safe}} </h3>
            <hr>
            <span style="float: left;">
                <h5 style="color:orange">Posted on: {{object.published_on | date:"M d, Y"}} </h5>
            </span>
            <span style="float: right;">
            
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_gmail"></a>
                    <a class="a2a_button_telegram"></a>
                </div>
            </span>
            <br><br><br>
            {{object.answer | safe}}
            <br>
           
                
                <div class="scroll scrollbar code-box " id="vertical">
                    <pre >
                        <code class="language-cpp">
                            {{object.code | safe}}
                                
                        </code>
                    </pre>
                </div>

          
            
        </div>
        {% if object.tags.all %}
            <div class="col-6 col-md-4" style="padding-bottom:50px">
                <div class="card border-warning mb-3" style="max-width: 18rem;">
                    <div class="card-body text-warning">
                        <h5 class="card-title" style="text-align: center;">Tags</h5>

                        <button type="button" class="btn btn-warning"> 
                        {% for e in object.tags.all %}
                            <a href="/?tags={{ e.slug }}" style="color:black;">{{ e.content }}</a>
                        {% endfor %} 
                        </button>
                        
                    </div>
                </div>
            </div>
        {% endif %}
      </div>
</div>

<!-- <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f29c3153eb17400127b0237&product=sticky-share-buttons" async="async"></script> -->
<!-- AddToAny BEGIN -->

    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
{% endblock content %}