{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

        
<div class="container py-5">
    <div class="row">
    {% if not object_list %}
        <div class="text-center">
            <b><p>No Results found for current selection</p></b>
        </div>
    {% endif %}

    {% for e in object_list%}
    <!-- Article Card begins-->
        <div class="col-12 col-md-8" style="padding-bottom:50px">
            <div class="card card-x">
                <div class="card-header">
                    <p class="ellipseReadMore2"><a class="card-link" href="{{e.slug}}" style="color:black">{{e.question }}</a> </p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p class="ellipseReadMore">{{e.answer}} </p>
                    <p><a href="{{e.slug}} " style="color:orange">Read More -</a></p>
                
                    <footer class="blockquote-footer"><strong>{%if e.name%}{{e.name}}{%else%} Admin{%endif%} </strong>{%if e.name%}({{e.college_name}}){%endif%} &nbsp;
                    {%if e.facebook %}<a href="{{e.facebook}}" style="color:black;"> <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>{%endif%} &nbsp;
                    {%if e.linkedin %}<a href="{{e.linkedin}}" style="color:black;"> <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>{%endif%} &nbsp;
                    {%if e.instagram %}<a href="{{e.instagram}}" style="color:black;"> <i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>{%endif%}&nbsp;
                    {%if e.twitter %}<a href="{{e.twitter}}" style="color:black;"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i> </a>{%endif%}
                    </footer>
                    
                    </blockquote>
                </div>
            </div>
        </div>
        
    <!-- Article Card ends-->
    
    {% if forloop.first %}

    <!--Side Form begins-->    
        <div class="col-6 col-md-4 " id="content-mobile">
            <div class="card side-form">
                <div class="card-body" style="background-color: #F7F7F7;">
                    <h5 class="card-title" style="text-align: center; color: grey">Have a query?</h5><br>
                    
                    <form action="query_send" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="query">Write your query</label>
                            <textarea class="form-control" name="query" id="query" rows="4" ></textarea>
                        </div>

                        <span style="float: right;"><button type="submit" class="btn btn-success">Submit</button></span>
                    </form>
                    
                </div>
            </div>
        <style>
            @media screen and (min-width: 768px) and (max-width: 1920px) {
            #content-mobile { display: block; }  /* show it on small screens */
            }

            @media screen and (min-width: 0px) and (max-width: 768px) {
            #content-mobile { display: none; }   /* hide it elsewhere */
            }

        </style>
        </div>
    <!--Side Form ends-->
{% endif %}

        {% endfor %}
    
    </div>
</div>


    

{%endblock%}