{% load static %}
<footer class="footer-distributed">
	<div class="footer-container">	
		<div class="footer-left">
            <a href="{% url 'blog-list' %}"><img src="{% static 'images/logo.png' %} " alt="logo"></a>
				<p class="footer-links">
					<a href="{% url 'about' %} ">About Us</a>
					|
					<a href=" {% url 'contact' %} ">Contact Us</a>
					|
					<a href="{% url 'privacy' %}">Privacy Policy</a>
					|
					<a href="{% url 'contribute' %}">Write an Article</a>
          			
				</p>

				<p class="footer-company-name">Copyright © <script>document.write(new Date().getFullYear())</script> All Rights Reserved by CodeLibrary.</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p><strong><span>B-2/1, N.S.Road, Liluah</span>
					<span>Howrah, West Bengal, India</span></strong></p>
				</div>

				<div>
					<i class="fa fa-whatsapp"></i>
					<p>+91 8420130865</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p>info.codelibrary@gmail.com</p>
				</div>

				<div>
					<i class="fa fa-globe" ></i>
                  <p><a href="https://www.codelibrary.in" target="_blank">www.codelibrary.in</a> </p>
				</div>
			</div>
			
			<div class="footer-right">
				<p class="footer-company-about">
					<span>Our Mission</span>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
         		  <div class="footer-icons">
					<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" ></i></a>
					<a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
				</div>
			</div>
  		</div>
	</footer>