{% load static %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="{% static 'images/svglogo.svg' %} " width="250px" alt="" loading="lazy">
        </a>
        <form class="search">
            <div class="search__wrapper">
            <input type="text"  placeholder="Search.." class="search__field">
            <button type="submit" class="fa fa-search search__icon"></button>
            </div>
        </form>
    </div>
</nav>

