{%if messages%}
{% for message in messages%}


    <div class="alert alert-custom m-2 alert-dismissible" id="msg" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{message}}
    </div>
    <style>
      .alert {
        
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
        transition: visibility 0s, opacity 250ms, transform 250ms;
    }
    .alert.hide {
       
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px); // translateX, translateY, translateZ works well
        transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
    }
    .alert-custom{
      background-color:orange;
      color:#fff;
    }
    
    </style>

{% endfor%}
{% endif%}